.question1{
    border: 2px solid gray;
    border-radius: 8px;
    margin: 8px;
    background-color: blanchedalmond;
    padding: 12px;
}

.question2{
    border: 2px solid gray;
    border-radius: 8px;
    margin: 8px;
    background-color: blanchedalmond;
    padding: 12px;
}